[TASK_BEGIN]
Provide a helpful answer to the user using the provided documents if they are relevant.
[TASK_END]

[USER_QUERY_BEGIN]
{{ question }}
[USER_QUERY_END]

[DOCUMENTS_BEGIN]
{% for doc in docs %}
<document>
{%- if doc.metadata and doc.metadata.get('url') %}
{{ doc.metadata.get('url') }}
{%- endif %}
{{ doc | string | truncate(max_doc_chars, true, '…') }}
</document>
{% endfor %}
[DOCUMENTS_END]

[GUIDELINES_BEGIN]
- If documents or articles chosen by you to fulfill the user's request contain self-referring external links,
you may add those links to the end of your response.
- Avoid using local/relative anchor links in the response.
- You can use markdown formatting in your answer.
[GUIDELINES_END]